.app {
    background-color: pink;
}
.gif {
    display: flex;
    justify-content: center;
}

.container{
    display: flex;
    justify-content: center;
    margin-top: 35px;
}

.title {
    margin-bottom: 45px;

    font-size: 26px;
    font-weight: 600;
    text-align: center;
    margin-top: 50px;
    font-family: Arial, sans-serif;
}
